<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <!-- header -->
    <%- include("./partials/header.ejs") %>
    <!-- main -->
    <main>
      <div class="container">
        <div class="g-2 row">
          <div class="col-12">
            <!-- breadcrumb -->
            <nav class="breadcrumb">
              <ol>
                <li>
                  <a href="./index.html">Home</a>
                </li>
                <li>
                  <a href="./cart.html">Cart</a>
                </li>
              </ol>
            </nav>
          </div>
          <div class="col-12">
            <p class="title title-left">your cart</p>
          </div>
          <!-- List -->
          <div class="col-8 col-lg-12">
            <div class="cart-list">
              <!-- item 1 -->
              <div class="row cart-item">
                <div class="col-2 col-md-3 col-sm-4">
                  <div class="cart-item-img">
                    <img src="img/detail-product/product-s-2.png" alt="" />
                  </div>
                </div>
                <div class="col-6 col-md-5 col-sm-4">
                  <div class="cart-item-content">
                    <p class="item-title">Gradient Graphic T-shirt</p>

                    <div class="options">
                      <p class="options-label">Size:</p>
                      <p class="options-value">Large</p>
                    </div>
                    <div class="options">
                      <p class="options-label">Color:</p>
                      <p class="options-value">White</p>
                    </div>
                    <p class="item-price">$140</p>
                  </div>
                </div>
                <div class="col-4">
                  <div class="cart-item-action">
                    <button class="action-clear">
                      <i class="fa-regular fa-trash-can"></i>
                    </button>
                    <div class="cart-quantity cart-custom">
                      <button type="button">-</button>
                      <input type="text" value="1" />
                      <button type="button">+</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- item 2 -->
              <div class="row cart-item">
                <div class="col-2 col-md-3 col-sm-4">
                  <div class="cart-item-img">
                    <img src="img/product3.png" alt="" />
                  </div>
                </div>
                <div class="col-6 col-md-5 col-sm-4">
                  <div class="cart-item-content">
                    <p class="item-title">Gradient Graphic T-shirt</p>
                    <div class="options">
                      <p class="options-label">Size:</p>
                      <p class="options-value">Medium</p>
                    </div>
                    <div class="options">
                      <p class="options-label">Color:</p>
                      <p class="options-value">Red</p>
                    </div>
                    <p class="item-price">$180</p>
                  </div>
                </div>
                <div class="col-4">
                  <div class="cart-item-action">
                    <button class="action-clear">
                      <i class="fa-regular fa-trash-can"></i>
                    </button>
                    <div class="cart-quantity cart-custom">
                      <button type="button">-</button>
                      <input type="text" value="1" />
                      <button type="button">+</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- item 3 -->
              <div class="row cart-item">
                <div class="col-2 col-md-3 col-sm-4">
                  <div class="cart-item-img">
                    <img src="img/product2.png" alt="" />
                  </div>
                </div>
                <div class="col-6 col-md-5 col-sm-4">
                  <div class="cart-item-content">
                    <p class="item-title">SKINNY FIT JEANS</p>
                    <div class="options">
                      <p class="options-label">Size:</p>
                      <p class="options-value">Large</p>
                    </div>
                    <div class="options">
                      <p class="options-label">Color:</p>
                      <p class="options-value">Blue</p>
                    </div>
                    <p class="item-price">$240</p>
                  </div>
                </div>
                <div class="col-4">
                  <div class="cart-item-action">
                    <button class="action-clear">
                      <i class="fa-regular fa-trash-can"></i>
                    </button>
                    <div class="cart-quantity cart-custom">
                      <button type="button">-</button>
                      <input type="text" value="1" />
                      <button type="button">+</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Summary -->
          <div class="col-4 col-lg-12">
            <div class="cart-summary">
              <p class="summary-title">Order Summary</p>
              <!-- detail -->
              <div class="summary-detail">
                <div class="row">
                  <div class="col-6">
                    <p class="summary-detail-text">Subtotal</p>
                    <p class="summary-detail-text text-red">Discount (-20%)</p>
                    <p class="summary-detail-text">Delivery Fee</p>
                  </div>
                  <div class="col-6">
                    <p class="summary-detail-value">$565</p>
                    <p class="summary-detail-value text-red">$-113</p>
                    <p class="summary-detail-value">$15</p>
                  </div>
                  <hr class="col-12 horizon-line hr-summary" />
                  <div class="col-6">
                    <p class="summary-detail-text">Total</p>
                  </div>
                  <div class="col-6">
                    <p class="summary-detail-value">$467</p>
                  </div>
                </div>
              </div>

              <!-- action -->
              <form action="" class="summary-form">
                <div class="promo-input">
                  <div class="input-code">
                    <label for="promo-code">
                      <i class="fa-solid fa-tag"></i>
                    </label>
                    <input
                      id="promo-code"
                      placeholder="Add promo code"
                      type="text" />
                  </div>

                  <button class="btn btn-black">
                    <p>Apply</p>
                  </button>
                </div>
                <button class="btn btn-black">
                  <p>Go to Checkout</p>
                  <i class="fa-solid fa-arrow-right-long"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- footer -->
    <%- include("./partials/footer.ejs") %>
    <script type="module" src="./main.js"></script>
  </body>
</html>
