<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product detail</title>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <!-- header -->
    <%- include("./partials/header.ejs") %>
    <!-- main -->
    <main>
      <div class="container">
        <!-- breadcrumb -->
        <div class="row">
          <nav class="breadcrumb">
            <ol>
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="">Shop</a>
              </li>
              <li>
                <a href="">Men</a>
              </li>
              <li>
                <a href="">T-shirt</a>
              </li>
            </ol>
          </nav>
        </div>

        <!-- about-product -->
        <section class="g-3 row">
          <!-- detail-gallery -->
          <div class="col-5 col-md-12">
            <div class="g-2 row">
              <!-- thumbnail  -->
              <div class="col-3 col-sm-12 order-1 order-sm-2">
                <div class="product-thumbs">
                  <div class="thumb">
                    <img
                      src="/img/detail-product/detail-2.png"
                      alt="detail-2" />
                  </div>
                  <div class="thumb">
                    <img
                      src="/img/detail-product/detail-3.png"
                      alt="detail-3" />
                  </div>
                  <div class="thumb">
                    <img
                      src="/img/detail-product/detail-4.png"
                      alt="detail-4" />
                  </div>
                </div>
              </div>
              <!-- main -->
              <div class="col-9 col-sm-12 order-2 order-sm-1">
                <div class="product-main-img">
                  <img
                    src="/img/detail-product/detail-1.png"
                    alt="detail-main" />
                </div>
              </div>
            </div>
          </div>
          <!-- detail-action -->
          <div class="col-7 col-md-12">
            <div class="detail-action">
              <!-- heading -->
              <div class="heading">One Life Graphic T-shirt</div>
              <!-- rating -->
              <div class="rating">
                <div class="stars">
                  <i class="fa-solid fa-star" style="color: #ffc633"></i>
                  <i class="fa-solid fa-star" style="color: #ffc633"></i>
                  <i class="fa-solid fa-star" style="color: #ffc633"></i>
                  <i class="fa-solid fa-star" style="color: #ffc633"></i>
                  <i
                    class="fa-solid fa-star-half-stroke"
                    style="color: #ffc633"></i>
                </div>
                <div class="score">4.5/5</div>
              </div>
              <!-- cost -->
              <div class="cost">
                <span class="new">$260</span>
                <span class="old">$300</span>
                <span class="sale">-40%</span>
              </div>
              <!-- description -->
              <div class="description">
                <p>
                  This graphic t-shirt which is perfect for any occasion.
                  Crafted from a soft and breathable fabric, it offers superior
                  comfort and style.
                </p>
              </div>

              <!-- options -->
              <form action="" class="options">
                <!-- horizon-line -->
                <hr class="horizon-line hr-detail" />
                <!-- select-color -->
                <p class="option-title">Select Color</p>
                <div class="colors">
                  <label class="color-item dark-olive" for="dark-olive">
                    <i class="fa-solid fa-check"></i>
                    <!-- #4F4631 -->
                    <input
                      hidden
                      type="radio"
                      name="select-color"
                      id="dark-olive" />
                  </label>
                  <label class="color-item slate-green" for="slate-green">
                    <i class="fa-solid fa-check"></i>
                    <!-- 314F4A -->
                    <input
                      hidden
                      type="radio"
                      name="select-color"
                      id="slate-green" />
                  </label>
                  <label
                    class="color-item dark-greyish-blue"
                    for="dark-greyish-blue">
                    <i class="fa-solid fa-check"></i>
                    <!-- 31344F -->
                    <input
                      hidden
                      type="radio"
                      name="select-color"
                      id="dark-greyish-blue" />
                  </label>
                </div>
                <!-- horizon-line -->
                <hr class="horizon-line hr-detail" />
                <!-- select-size -->
                <p class="option-title">Choose Size</p>
                <div class="sizes">
                  <label for="small">
                    <input hidden type="radio" name="select-size" id="small" />
                    small
                  </label>
                  <label for="medium">
                    <input hidden type="radio" name="select-size" id="medium" />
                    medium
                  </label>
                  <label for="large">
                    <input hidden type="radio" name="select-size" id="large" />
                    large
                  </label>
                  <label for="x-large">
                    <input
                      hidden
                      type="radio"
                      name="select-size"
                      id="x-large" />
                    x-large
                  </label>
                </div>
                <!-- horizon-line -->
                <hr class="horizon-line hr-detai" />
                <!-- add-cart -->
                <div class="add-cart">
                  <!-- quantity -->
                  <div class="cart-quantity">
                    <button type="button">-</button>
                    <input type="text" value="1" />
                    <button type="button">+</button>
                  </div>
                  <button type="button" class="btn btn-cart">
                    add to cart
                  </button>
                </div>
              </form>
            </div>
          </div>
        </section>
        <!-- tab -->
        <section class="row">
          <div class="col-12">
            <div class="tab">
              <p class="tab-title">Product Details</p>
              <p class="tab-title select-tab">Rating & Reviews</p>
              <p class="tab-title">FAQs</p>
            </div>
          </div>
        </section>
        <!-- tab-rate-preview -->
        <section class="row">
          <div class="col-12">
            <!-- heading -->
            <div class="row heading-preview">
              <div class="col-4">
                <div class="left-content">
                  <p class="title-preview">all preview</p>
                  <p class="count">(451)</p>
                </div>
              </div>
              <div class="col-8">
                <div class="right-content">
                  <button class="preview-fitler">
                    <i class="fa-solid fa-filter"></i>
                  </button>
                  <button class="select-time">
                    <p>Latest</p>
                    <i class="fa-solid fa-chevron-down"></i>
                  </button>
                  <button class="write-preview">
                    <p>Write a preview</p>
                  </button>
                </div>
              </div>
            </div>
            <!-- list previews -->
            <div class="g-3 row">
              <div class="col-6 col-md-12">
                <div class="card-preview">
                  <div class="stars">
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i
                      class="fa-solid fa-star-half-stroke"
                      style="color: #ffc633"></i>
                  </div>
                  <div class="customer-info">
                    <p class="name">Samantha D.</p>
                    <i
                      class="fa-solid fa-circle-check"
                      style="color: #01ab31"></i>
                  </div>
                  <p class="preview">
                    "I absolutely love this t-shirt! The design is unique and
                    the fabric feels so comfortable. As a fellow designer, I
                    appreciate the attention to detail. It's become my favorite
                    go-to shirt."
                  </p>
                  <p class="date-post">Posted on August 14, 2023</p>
                </div>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-preview">
                  <div class="stars">
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                  </div>
                  <div class="customer-info">
                    <p class="name">Alex M.</p>
                    <i
                      class="fa-solid fa-circle-check"
                      style="color: #01ab31"></i>
                  </div>
                  <p class="preview">
                    "The t-shirt exceeded my expectations! The colors are
                    vibrant and the print quality is top-notch. Being a UI/UX
                    designer myself, I'm quite picky about aesthetics, and this
                    t-shirt definitely gets a thumbs up from me."
                  </p>
                  <p class="date-post">Posted on August 15, 2023</p>
                </div>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-preview">
                  <div class="stars">
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                  </div>
                  <div class="customer-info">
                    <p class="name">Ethan R.</p>
                    <i
                      class="fa-solid fa-circle-check"
                      style="color: #01ab31"></i>
                  </div>
                  <p class="preview">
                    "This t-shirt is a must-have for anyone who appreciates good
                    design. The minimalistic yet stylish pattern caught my eye,
                    and the fit is perfect. I can see the designer's touch in
                    every aspect of this shirt."
                  </p>
                  <p class="date-post">Posted on August 16, 2023</p>
                </div>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-preview">
                  <div class="stars">
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                  </div>
                  <div class="customer-info">
                    <p class="name">Olivia P.</p>
                    <i
                      class="fa-solid fa-circle-check"
                      style="color: #01ab31"></i>
                  </div>
                  <p class="preview">
                    "As a UI/UX enthusiast, I value simplicity and
                    functionality. This t-shirt not only represents those
                    principles but also feels great to wear. It's evident that
                    the designer poured their creativity into making this
                    t-shirt stand out."
                  </p>
                  <p class="date-post">Posted on August 17, 2023</p>
                </div>
              </div>

              <div class="col-6 col-md-12">
                <div class="card-preview">
                  <div class="stars">
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                  </div>
                  <div class="customer-info">
                    <p class="name">Liam K.</p>
                    <i
                      class="fa-solid fa-circle-check"
                      style="color: #01ab31"></i>
                  </div>
                  <p class="preview">
                    "This t-shirt is a fusion of comfort and creativity. The
                    fabric is soft, and the design speaks volumes about the
                    designer's skill. It's like wearing a piece of art that
                    reflects my passion for both design and fashion."
                  </p>
                  <p class="date-post">Posted on August 18, 2023</p>
                </div>
              </div>

              <div class="col-6 d-md-none">
                <div class="card-preview">
                  <div class="stars">
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    <i
                      class="fa-solid fa-star-half-stroke"
                      style="color: #ffc633"></i>
                  </div>
                  <div class="customer-info">
                    <p class="name">Ava H.</p>
                    <i
                      class="fa-solid fa-circle-check"
                      style="color: #01ab31"></i>
                  </div>
                  <p class="preview">
                    "I'm not just wearing a t-shirt; I'm wearing a piece of
                    design philosophy. The intricate details and thoughtful
                    layout of the design make this shirt a conversation
                    starter."
                  </p>
                  <p class="date-post">Posted on August 19, 2023</p>
                </div>
              </div>
            </div>
            <!-- loading-data -->
            <div class="row more-reviews">
              <col-12>
                <button class="btn btn-white">
                  <p>Load More Reviews</p>
                </button>
              </col-12>
            </div>
          </div>
        </section>
        <!--  suggest product -->
        <section class="row">
          <div class="col-12">
            <div class="row">
              <p class="title">You might also like</p>
            </div>
            <div class="g-1 row rows-4 rows-lg-3 rows-md-2">
              <!-- Sản phẩm 1 -->
              <div class="col">
                <a href="#" class="product-card">
                  <div class="img-product">
                    <img src="/img/detail-product/product-s-1.png" alt="" />
                  </div>
                  <p class="product-name">Polo with Contrast Trims</p>
                  <div class="preview">
                    <div class="stars">
                      <i class="fa-solid fa-star" style="color: #ffc633"></i>
                      <i class="fa-solid fa-star" style="color: #ffc633"></i>
                      <i class="fa-solid fa-star" style="color: #ffc633"></i>
                      <i class="fa-solid fa-star" style="color: #ffc633"></i>
                      <i class="fa-regular fa-star" style="color: #ffc633"></i>
                    </div>
                    <div class="score">4.0/5</div>
                  </div>
                  <div class="cost">
                    <span class="new">$212</span>
                    <span class="old">$242</span>
                    <span class="sale">-20%</span>
                  </div>
                </a>
              </div>

              <!-- Sản phẩm 2 -->
              <div class="col">
                <a href="#" class="product-card">
                  <div class="img-product">
                    <img src="/img/detail-product/product-s-2.png" alt="" />
                  </div>
                  <p class="product-name">Gradient Graphic T-shirt</p>
                  <div class="preview">
                    <div class="stars">
                      <i class="fa-solid fa-star" style="color: #ffc633"></i>
                      <i class="fa-solid fa-star" style="color: #ffc633"></i>
                      <i class="fa-solid fa-star" style="color: #ffc633"></i>
                      <i
                        class="fa-solid fa-star-half-stroke"
                        style="color: #ffc633"></i>
                      <i class="fa-regular fa-star" style="color: #ffc633"></i>
                    </div>
                    <div class="score">3.5/5</div>
                  </div>
                  <div class="cost">
                    <span class="new">$145</span>
                  </div>
                </a>
              </div>

              <!-- Sản phẩm 3 -->
              <div class="col d-md-none">
                <a href="#" class="product-card">
                  <div class="img-product">
                    <img src="/img/detail-product/product-s-3.png" alt="" />
                  </div>
                  <p class="product-name">Polo with Tipping Details</p>
                  <div class="preview">
                    <div class="stars">
                      <i class="fa-solid fa-star" style="color: #ffc633"></i>
                      <i class="fa-solid fa-star" style="color: #ffc633"></i>
                      <i class="fa-solid fa-star" style="color: #ffc633"></i>
                      <i class="fa-solid fa-star" style="color: #ffc633"></i>
                      <i
                        class="fa-solid fa-star-half-stroke"
                        style="color: #ffc633"></i>
                    </div>
                    <div class="score">4.5/5</div>
                  </div>
                  <div class="cost">
                    <span class="new">$180</span>
                  </div>
                </a>
              </div>

              <!-- Sản phẩm 4 -->
              <div class="col d-md-none">
                <a href="#" class="product-card">
                  <div class="img-product">
                    <img src="/img/detail-product/product-s-4.png" alt="" />
                  </div>
                  <p class="product-name">Black Striped T-shirt</p>
                  <div class="preview">
                    <div class="stars">
                      <i class="fa-solid fa-star" style="color: #ffc633"></i>
                      <i class="fa-solid fa-star" style="color: #ffc633"></i>
                      <i class="fa-solid fa-star" style="color: #ffc633"></i>
                      <i class="fa-solid fa-star" style="color: #ffc633"></i>
                      <i class="fa-solid fa-star" style="color: #ffc633"></i>
                    </div>
                    <div class="score">5.0/5</div>
                  </div>
                  <div class="cost">
                    <span class="new">$120</span>
                    <span class="old">$150</span>
                    <span class="sale">-30%</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!-- footer -->
    <%- include("./partials/footer.ejs") %>
    <script type="module" src="./main.js"></script>
  </body>
</html>
